<footer class="bg-dark text-center text-white mt-auto">
    <div class="container p-4 pb-0">
        <section class="mb-4">
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/jordirocharocha/"
                target="_blank" role="button"><i class="fab fa-linkedin-in"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/jordirocha/Node-MyMovieList"
                target="_blank" role="button"><i class="fab fa-github"></i></a>
        </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © <%= new Date().getFullYear();%> Devoloped by:
            <a class="text-white text-decoration-none" href="https://github.com/jordirocha"
                target="_blank"><strong>Jordi
                    Rocha</strong></a>
    </div>
</footer>